<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-smart-lock" version="0.0.1">
  <name>SmartLock</name>
  <description>Cordova plugin to use Smart Lock on Android</description>
  <license>MIT</license>
  <keywords>cordova,plugin,android,smartlock,authentication</keywords>
  <repo>https://github.com/okode/cordova-plugin-smart-lock.git</repo>

  <engines>
    <engine name="cordova-android" version=">=8.0.0" />
  </engines>

  <js-module src="www/smartlock.js" name="Smartlock">
    <clobbers target="Smartlock" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Smartlock">
        <param name="android-package" value="org.apache.cordova.smartlock.Smartlock" />
      </feature>
    </config-file>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/Smartlock.java" target-dir="src/org/apache/cordova/smartlock" />
    <source-file src="src/android/PluginError.java" target-dir="src/org/apache/cordova/smartlock" />
    <source-file src="src/android/SmartlockManager.java" target-dir="src/org/apache/cordova/smartlock" />
  </platform>

  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Smartlock">
        <param name="ios-package" value="Smartlock"/>
      </feature>
    </config-file>
    <source-file src="src/ios/Smartlock.swift"/>

    <podspec>
        <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </config>
        <pods use-frameworks="true">
            <pod name="KeychainAccess" spec="4.1.0"/>
        </pods>
    </podspec>

    <preference name="smartlock.ios_team_id" default=""/>

    <config-file target="*/Entitlements-Debug.plist" parent="keychain-access-groups">
      <array>
        <string>$(AppIdentifierPrefix)smartlock</string>
      </array>
    </config-file>
    
    <config-file target="*/Entitlements-Release.plist" parent="keychain-access-groups">
      <array>
        <string>$(AppIdentifierPrefix)smartlock</string>
      </array>
    </config-file>

  </platform>

</plugin>